@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

header{
  position: sticky;
  top: 0;
  background: white;
  height: 66px;
}

.left img{
  width: 32px;
  height: 23px;
}

.container{
  padding: 0 10px;
}

nav{
  font-size: 12px;
  padding-top: 12px;
}

nav ul li{
  list-style: none;
  padding: 0 12px;
}

.section1{
  background: #eeecf1;
  height: 122vh;
}